* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 52.5%;
}

body {
  font-family: "Gloria Hallelujah", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #feb062;
  color: #575151;
  min-height: 100vh;
}

h1 {
  font-size: 5rem;
  text-align: center;
}
